VITE_SUPABASE_URL=https://vsblrhfqidhzwpthkyux.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzYmxyaGZxaWRoendwdGhreXV4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDA5NTI0OCwiZXhwIjoyMDc5NjcxMjQ4fQ._vZxXrTwhOAdyI68cHmxA56W4Lrsqwn4g0-q5ldduks
